<ion-header>
  <ion-navbar>
    <ion-title>SMS Groceries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of toBeDoneItems()" (click)="toggle(item)">
      <span *ngIf="!item.done">{{ item.title }}</span>
      <ion-icon name="square-outline" item-end *ngIf="!item.done"></ion-icon>
    </ion-item>

    <ion-item *ngFor="let item of doneItems()" (click)="toggle(item)">
      <span *ngIf="item.done" style="text-decoration: line-through; color: #aaa;">{{ item.title }}</span>
      <ion-icon name="checkbox-outline" item-end *ngIf="item.done" style='color: #aaa;'></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h2 padding>Done: <b>{{ doneCount() }}</b> out of {{ allCount() }}</h2>
  </ion-toolbar>
</ion-footer>
